#top
{
	margin-top: 10%; /* por qué no funciona con vh vw? */
	background-image: url("../imgs/img1.jpg");
	padding: 25vh 0vw;
	background-size: cover;
	background-position: top; /* no funcionó con coordenadas (background-position: top), si sirve es responsive? o pasa cono con px */
}

#logo{
	position: absolute;
	top: 72%;
	right: 20%; /* para posición es mejor % o vw/vh ? */
	width: 10vw;
}

h2{
	background: black;
	color: white;
	text-align: center;
	font-size: 40px; /* se ve muy grande en mobile? */
	font-family: Candara;
	margin: 0;
}


nav
{
	display: block;
	 color: #4682B4;
	 float: left;
}

nav>a
{
	display: block;
	margin-top: 50%;
	margin-bottom: 50%;
}


#home
{
	margin-left: 10%;
	float: left;
}

#home p
{
	margin: 0;
}