													/*INDEX*/
:root
{
	--logoSize: 12vh;
	--logoMarginLeft: 7vw;
	--logoMarginTop: 2vh;
	--borderSize: 0.1em;
	--borderColor: #efefef;
	--backgroundColor: #1c1c1c;
	--fontColor: #A6FF2A;
	--bannerHeight: 18vh;
}



body
{
	margin: 0;
}

#bodyBackground
{
	overflow: auto; /*al usar position absolute, "arregla" elementos que salen fuera del box*/
		height: 100vh;

		margin: 0px;
		
	background-image: url("../imgs/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#banner
{
	position: absolute;
	opacity: 0.9;
	width: 100%;
	height: var(--bannerHeight);
	top: 0;
	background-color: var(--backgroundColor);
}

#logo
{
	position: absolute;
	left: var(--logoMarginLeft);
	top: var(--logoMarginTop);
	height: var(--logoSize);
	z-index: 10;
}

#title
{
	position: absolute;
	top: calc(var(--logoSize) + var(--logoMarginTop));
	font-size: 0.6em;
	z-index: 10;
	margin-left: calc(var(--logoMarginLeft)/2);
}

h2
{
	background: #1c1c1c;
	text-align: center;
	font-size: 4vw; /* se ve muy grande en mobile? */
	margin: 0em;
	-webkit-border-radius: 79px 79px 79px 79px;
	border: var(--borderSize) solid var(--borderColor);
	
	margin-top: var(--bannerHeight);
	margin-bottom: 2vh;
}

nav
{
	position: absolute;
	font-size: 2vw; /* se ve muy grande en mobile? */
	/*top: calc( var(--logoMarginTop) / 2);*/
	top: 7vh;
	left: calc( var(--logoMarginLeft) * 3);
	margin-left: auto;
	margin-right: auto;
}

nav>a
{
	margin-left: 1.0em;
}

nav>a:hover
{
	color: var(--fontColor);
}

a:link, a:visited
{
	text-decoration: none;

}

.textFormat
{
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 0 0 #000;
}

main
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	
}

main>article
{
	width: 100vw;
	margin: 0.6em 4em;
	background-color: var(--backgroundColor);
	-webkit-border-radius: 20px 20px 20px 20px;
	border: var(--borderSize) solid var(--borderColor);
}

article>h5, article>p
{
	margin: 1em;
}

.subtitles
{
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 2.2em;
	text-align: center;

}

.innerText
{
	font-size: 1.5em;
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-align: center;
}

#aboutMain
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#aboutMain article
{
	width: 80%;	
	margin: 1.5em 4em;
	background-color: var(--backgroundColor);
	-webkit-border-radius: 20px 20px 20px 20px;
	border: var(--borderSize) solid var(--borderColor);

}


								/*CONTACT*/
.mail
{
	color: var(--fontColor);
	text-shadow: 2px 0 0 #000;
}

								/*RULES*/

li
{
		/*width: 30vw;*/
	margin: 1.5em 4em;
	padding: 1em 1em;
	background-color: var(--backgroundColor);
	-webkit-border-radius: 20px 20px 20px 20px;
	border: var(--borderSize) solid var(--borderColor);
	font-size: 1em;
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-indent: 2em;
}

ol, ul
{
	list-style-position: inside;
}


#desc
{
	display: block;
}

#rulesMain
{
	display: block;

}

#rulesMain p
{
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
	margin: 1vh 0;
}

.orderedListLower
{
	list-style-type: lower-alpha;

}

.orderedListSquare
{
	list-style-type: square;



}

										/*Info*/

h3
{
	margin-top: 0;
}

#infoMain
{
	display: flex;
	flex-direction: column;
	/*width: 100%;*/
	/*display: block;*/
	/*padding: 0px 50px;*/
	/*width: 10vw;*/
}

th
{
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 2em;
	text-align: center;

}

td
{
	font-size: 1em;
	color: white;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-align: center;
	margin: 0.1vh;
}

table
{
	margin: 2vw 10vw;
	width: 80vw;
}

th, td
{
	width: 20vw;
	text-shadow: 2px 0 0 #000;
}


